.setUser .content{
    /* padding: 120px; */
    margin: 100px auto;
  }

.setUser h1{
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

.setUser form{
    width: 500px;
    margin: 80px auto;
    font-size: 17px;
    text-align: center;
}
.setUser form p{
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: bold;
}
.setUser form #username{
    width: 160px;
    height: 32px;
    padding-left: 10px;
    font-size: 15px;
    border: 2px solid #e5e5e5;
    border-radius: 6px;
    outline-style: none;  /* 포커스시 발생하는 효과 제거를 원한다면 */
    -webkit-appearance: none;  /* 브라우저별 기본 스타일링 제거 */
    -moz-appearance: none;
    appearance: none;
}
.setUser form #username:-webkit-autofill{
    -webkit-box-shadow: 0 0 0 1000px white inset; /* 크롬 배경색상 화이트로 */
}
.setUser form .gender{
    /* border: 1px solid blue; */
    margin-top: 20px;
}
.setUser form .gender label input{
    margin-bottom: 8px;
}

.setUser .startBtn{
    margin-top: 20px;
    text-align: center;
}
.setUser .startBtn .btn{
    display: inline-flex;
}
